@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-----------------------------------------------------------CLASSE GLOBAL------------------------------------------------------*/
body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
}

h2 {
    font-family: "Space Grotesk", sans-serif;
}

h3 {
    font-family: "Space Grotesk", sans-serif;
}

a {
    text-decoration: none;
}

header {
    padding: 20px 80px;
    border-radius: 0px 0px 15px 15px;
}

footer {
    padding: 40px 80px;
    border-radius: 15px 15px 0px 0px;
}

input {
    padding: 15px 15px;
    border-radius: 15px;
    border: none;
}

/*--------------------------------------------------------TEXTE--------------------------------------------------------------------*/
.suppuce {
    list-style-type: none;
}

.no-line {
    text-decoration: none;
}

.bold {
    font-weight: 800;
}

.txt-center {
    text-align: center;
}

.majuscule {
    text-transform: uppercase;
}


/*-----------------------------------------------------------CLASSE DE TAILLE------------------------------------------------------*/
.w-100 {
    width: 100%;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-48 {
    width: 48%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.gap100 {
    gap: 100px;
}

.gap50 {
    gap: 50px;
}

.gap30 {
    gap: 30px;
}

.gap10 {
    gap: 10px;
}


/*-----------------------------------------------------------FLEX-BOX------------------------------------------------------*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.center-ver {
    align-items: center;
}

.center-orh {
    justify-content: center;
}

.change-a {
    display: inline-block;
}

.column{
    flex-direction: column;
}

.end{
    justify-content: flex-end;
}
/*--------------------------------------------------------MARGIN ET PADDING----------------------------------------------------------*/
.mgt200 {
    margin-top: 200px;
}

.mgt128 {
    margin-top: 128px;
}

.mgt110 {
    margin-top: 110px;
}

.mgt100 {
    margin-top: 100px;
}

.mgt80 {
    margin-top: 80px;
}

.mgt70 {
    margin-top: 70px;
}

.mgt50 {
    margin-top: 50px;
}

.mgt30 {
    margin-top: 30px;
}

.mgt15 {
    margin-top: 25px;
}

.mgtN66 {
    margin-top: -66px;
}

.mgb128 {
    margin-bottom: 128px;
}

.mgb50 {
    margin-bottom: 50px;
}

.mgb48 {
    margin-bottom: 48px;
}

.mgb30 {
    margin-bottom: 30px;
}

.mgb15 {
    margin-bottom: 15px;
}

.mgl250 {
    margin-left: 250px;
}

.mgl575 {
    margin-left: 575px;
}

.mgl370{
    margin-left: 370px;
}

.mgl25{
    margin-left: 25px;
}
/*----------------------------------------------------CONTAINER----------------------------------------------*/
.container1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------------------------------------CLASSE DE COULEURS----------------------------------------------*/
.txtalice {
    color: aliceblue;
}

.txtblue {
    color: #103571;
}

.txt-ciel {
    color: #63a8e6;
}

.txtblack {
    color: black;
}

.blanc {
    filter: invert(1) saturate(0) brightness(8);
}

/*----------------------------------------------------ARRONDIE ET DEPLACEMENT----------------------------------------------*/
.rond-header {
    border-radius: 50%;
}

.br-15 {
    border-radius: 15px;
}

.moove-logo {
    transform: translate(0px 0px);
}

/*----------------------------------------------------CARD ET BOUTTON----------------------------------------------*/
.bg-alice {
    background-color: aliceblue;
}

.bg-bleu{
    background-color: #103571;
}

.bg-blue {
    background: linear-gradient(to bottom, #103571, #63a8e6);
}

.bg-blue2 {
    background: linear-gradient(to top, #103571, #63a8e6);
}

.bg-work{
    background-image: url(asset/motion-designer/téléchargement\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.bg-projet{
     background-image: url(asset/motion-designer/téléchargement\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
}

.btn-gris {
    background-color: #bbc3d0;
    padding: 10px 30px;
    border-radius: 15px;
}

.btn-blue {
    background-color: #103571;
    padding: 10px 30px;
    border-radius: 15px;
    border: solid 2px #63a8e6;
}

.btn-border-ciel {
    border: solid 2px #63a8e6;
    padding: 10px 30px;
    border-radius: 15px;
}

.btn-ciel {
    background-color: #63a8e6;
    padding: 10px 30px;
    border-radius: 15px;
    border: solid 2px aliceblue;
}

.btn-hover {
  transform: scale(1.1);
  background: #2575fc;
}


.big-card-bleu {
    background-color: #103571;
    padding: 15px 20px;
    border-radius: 15px;
    border: solid 1px #ffffff;
    border: solid 2px #63a8e6;
}

.card-blue {
    background-color: #103571;
    padding: 15px 20px;
    border-radius: 15px;
    border: solid 2px #63a8e6;
}

.card-ciel {
    background-color: #63a8e6;
    padding: 15px 20px;
    border-radius: 15px;
    border: solid 2px aliceblue;
}

.card-blanche{
    background-color: aliceblue;
    padding: 15px 15px;
    border-radius: 15px;
    border:solid 2px #63a8e6
}